@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --dark: #0d0d0d;
  --light: #fff;
  --pink: #f31caa;
  --grey: #4a4747;
  --violet: #ad3eff;
}

body {
  background: var(--dark);
  color: var(--light);
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--light);
}


.container-page {
  height: 90vh;
}

.btn-custom {
  background: linear-gradient(45deg, rgba(216, 106, 194, 1) 0%, rgba(150, 104, 234, 1) 100%);
  color: var(--light) !important;
  text-transform: uppercase;
  padding: 15px 25px !important;
  font-size: 1.2rem !important;
  border-radius: 25px 0 25px 0 !important;
  border: 1px solid var(--light) !important;
  transition: 0.3s !important;

}

.btn-custom:hover {
  background: linear-gradient(45deg, rgba(216, 106, 194, 0.7) 0%, rgba(150, 104, 234, 0.7) 100%);
  color: var(--light) !important;
  transition: 0.3s !important;
  transform: scale(1.05);
}

.link-custom {
  color: var(--pink) !important;

}

.link-custom:hover {
  color: var(--violet) !important;
}

.input-custom {
  border-radius: 0;
  background: #ffffff1f;
  color: var(--light);
  font-family: 'Roboto Mono', monospace;

}

.input-custom::placeholder {
  color: var(--light);
  font-style: italic;
}

.input-custom:focus {
  background: #f31cab4c !important;
  box-shadow: #f31caa;
  color: var(--light);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus {
  border-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px #f31caa;
  outline: 0 none;
}

.icon-custom {
  color: var(--pink);
}

.alert-custom{
  border-radius: 0px !important;
  text-transform: uppercase;
  background: var(--pink);
  color: var(--light);
}